.rodapé {
  padding: 1em;
  background-color: white;
}

.rodapé__lista {
  display: none;
}

@media screen and (min-width: 1024px) {
  .rodapé {
    margin: 2em 0;
    display: flex;
    justify-content: space-around;
  }

  .rodapé__titulo {
    font-size: 1.5em;
  }

  .rodapé__lista {
    display: block;
  }

  .lista__nome {
    color: var(--cinza);
    font-size: 0.875em;
    text-transform: uppercase;
    margin-bottom: 1.5em;
  }

  .lista__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0.5em;
  }

  .lista__link {
    text-decoration: none;
    gap: 10px;
  }

  .lista__link__texto {
    color: #474646;
    font-size: 0.875em;
  }
}

@media screen and (min-width: 1728px) {
  .lista__nome {
    margin-left: 1em;
  }

  .rodapé__lista {
    border-left: 1px solid #858585;
  }
}
