.cabeçalho {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  gap: 80px;
}

.cabeçalho__menu {
  width: 24px;
  height: 24px;
  background-image: url(../assets/Menu.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.container__botao:checked ~ .container__rotulo > .cabeçalho__menu {
  background-image: url(../assets/Menu\ Aberto.svg);
}

.container__botao:checked ~ .container__rotulo {
  background: var(--azul-degrade);
}

.cabeçalho__container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.cabeçalho__link {
  display: none;
}

.container__titulo {
  display: none;
}

.opções {
  display: none;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 70vw;
  box-shadow: var(--lista-menu-boxshadow);
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: white;
}

.lista-menu__titulo {
  font-size: 1em;
  font-weight: 700;
  color: var(--laranja);
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container__botao {
  display: none;
}

.link__texto {
  display: none;
}

@media screen and (min-width: 760px) {
  .container__titulo,
  .container__titulo-negrito {
    font-size: 30px;
    font-family: "Josefin Sans";
  }
  .container__titulo {
    font-weight: 400;
    display: block;
  }

  .container__titulo-negrito {
    font-weight: 700;
  }
}

@media screen and (min-width: 1024px) {
  .cabeçalho {
    padding: 0 2em;
  }

  .opções {
    display: flex;
    align-items: center;
  }

  .opções__item {
    text-transform: uppercase;
    padding: 1.5em 0.5em;
  }

  .opções__link {
    text-decoration: none;
    color: black;
  }

  .container__imagem-transparente,
  .cabeçalho__menu {
    display: none;
  }

  .opções__botão:checked ~ .lista-menu {
    display: block;
    width: auto;
  }

  .opções__botão {
    display: none;
  }

  .container__link {
    padding: 0 1em;
  }

  .opções__botão:checked ~ .opções__rotulo > .opções__item {
    background: var(--azul-degrade);
    -webkit-text-fill-color: white;
  }

  .lista-menu__item:hover {
    background: var(--azul-degrade);
  }

  .lista-menu__item:hover > .lista-menu__link {
    -webkit-text-fill-color: white;
    text-decoration: none;
  }
}

@media screen and (min-width: 1728px) {
  .cabeçalho {
    padding: 0 4em;
  }

  .opções {
    margin-right: auto;
  }

  .opções__item {
    padding: 1.8em 0.5em;
  }

  .cabeçalho__container {
    justify-self: flex-end;
  }

  .container__link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  .link__texto {
    font-size: 1.25em;
    display: block;
    color: black;
  }
}
