.cabeçalho {
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.cabeçalho__menu {
  width: 24px;
  height: 24px;
  background-image: url(../assets/Menu.svg);
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  display: flex;
  align-items: center;
}

.container__imagem {
  padding: 1em;
}

.lista-menu {
  display: none;
  position: absolute;
  top: 100%;
  width: 70vw;
  box-shadow: var(--lista-menu-boxshadow);
}

.container__botao:checked ~ .lista-menu {
  display: block;
}

.lista-menu__titulo,
.lista-menu__item {
  padding: 1em;
  background-color: white;
}

.lista-menu__titulo {
  font-size: 1em;
  font-weight: 700;
  color: var(--laranja);
}

.lista-menu__link {
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.container__botao {
  display: none;
}
